.App {
  height : 100vh
}

.button {
  background-color: white; /* Green */
  border: 5px solid black;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 16px;
  height: 20vh;
  width: 20vh;
}

.center {
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: blue
}

.reset-button {
  height: 50px;
  width: 100px;
}